services:
  # Backend API
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: p4-backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db-central:3306/${MYSQL_DATABASE}
      JWT_SECRET: ${JWT_SECRET}
      JWT_EXPIRES_IN: ${JWT_EXPIRES_IN:-7d}
      PORT: 3000
      IP: 0.0.0.0
    expose:
      - 80
    networks:
      - traefik-net
      - db-net
    labels:
        - "traefik.enable=true"
        - "traefik.docker.network=traefik-net"
        - "traefik.http.routers.p4-back-router.rule=Host(`asene.myddns.me`) && PathPrefix(`/api`)"
        - "traefik.http.routers.p4-back-router.entrypoints=port9000"
        - "traefik.http.services.p4-back-service.loadbalancer.server.port=3000"

  # Frontend Next.js
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_BACKEND_URL: https://asene.myddns.me:9000
        NEXT_PUBLIC_WS_URL: https://asene.myddns.me:9000
    container_name: p4-frontend
    restart: unless-stopped
    environment:
      NODE_ENV: production
    expose:
      - 3001
    networks:
      - traefik-net
    depends_on:
      - backend
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik-net"
      - "traefik.http.routers.p4-front-router.rule=Host(`asene.myddns.me`)"
      - "traefik.http.routers.p4-front-router.entrypoints=port9000"
      - "traefik.http.services.p4-front-service.loadbalancer.server.port=3001"

networks:
  traefik-net:
    external: true
  db-net:
    external: true
volumes:
  mysql-data:
    driver: local

