<div class="row">
	<div class="col-lg-7 col-12">
		<canvas id="canvas" class="mw-100"></canvas>
		<div class="container-fluid d-flex justify-content-evenly bg-dark p-2 rounded-4">
			<div id="indicator-j1" class="btn btn-danger disabled">Joueur #1</div>
			<div id="indicator-j2" class="btn btn-warning disabled">Joueur #2</div>
		</div>
	</div>
	<div class="col-lg-5 col-12 d-flex flex-column">
		<div
			id="msg-area"
			class="msg-area d-flex flex-column flex-grow-1 w-100 py-2 px-1 border border-3 border-black rounded-4 lh-sm"
			data-msg-target=".msg-area-body"
			data-msg-input="input.msg-input"
			data-msg-template-info="#template-message-info"
			data-msg-template-msg="#template-message-message"
			data-msg-template-vote="#template-message-vote"
		>
			<div class="msg-area-body flex-grow-1 overflow-y-scroll" style="height: 400px"></div>
			<input type="text" style="position: sticky; bottom: 0" class="msg-input form-control w-100" id="msg" placeholder="Message" />
		</div>
	</div>
</div>

<template id="template-message-info">
	<div class="message-box"><div class="message-content"></div></div>
</template>
<template id="template-message-message">
	<div class="message-box">
		<div class="message-side"><div class="message-bubble message-content"></div></div>
	</div>
</template>
<template id="template-message-vote">
	<div class="message-box">
		<div class="message-content">Spectateur ?</div>
		<div class="vote-form mt-1">
			<button class="btn btn-sm btn-danger vote-no">Non</button>
			<button class="btn btn-sm btn-success vote-yes">Oui</button>
		</div>
	</div>
</template>
<script src="indexScript.js" type="module" defer></script>
