<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
	<%- include('shared/head.ejs'); %>
	<body class="container" style="padding-top: 85px">
		<%- include('shared/navbar.ejs'); %>
		<!-- Modal -->
		<div class="modal fade" id="Modal" tabindex="-1">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5"></h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body"></div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<!-- OffCanvas -->
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title">Title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>
			<div class="offcanvas-body">
				<ul class="list-group room-list" data-template="template-room-li">
					<li id="room-list-new" class="list-group-item room-list-persistent"><button class="btn btn-info w-100">Nouveau</button></li>
				</ul>
			</div>
		</div>
		<!--  -->
		<%- body %>
		<template id="template-room-li">
			<li class="list-group-item d-flex justify-content-between align-items-center">
				<div class="d-flex flex-row">
					<div class="placeholder-room-id me-3"></div>
					<div class="badge bg-secondary placeholder-room-state"></div>
				</div>
				<button class="btn">Rejoindre</button>
			</li>
		</template>
		<template id="template-room-new-form">
			<form>
				<div class="input-group">
					<input type="text" name="roomId" class="form-control" placeholder="Nom de la salle" />
					<button class="btn btn-outline-primary" type="submit">Créer</button>
				</div>
			</form>
		</template>
	</body>
</html>
