<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="/P4/" />
		<link href="bootstrap.min.css" rel="stylesheet" />
		<script src="bootstrap.bundle.min.js"></script>
		<link href="style.css" rel="stylesheet" />
		<title>Document</title>
	</head>
	<body class="container" style="padding-top: 85px">
		<header class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top mb-3 px-3">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link h5" href="#">Salut</a>
					</li>
				</ul>
			</div>
		</header>
		<div class="row">
			<div class="col">
				<canvas class="mmm" height="600px" width="700px"></canvas>
				<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 px-3">
					<div class="container-fluid">
						<div id="indicator-j1" class="btn btn-danger mx-auto">Joueur #1</div>
						<div id="indicator-j2" class="btn btn-warning mx-auto">Joueur #2</div>
					</div>
				</div>
			</div>
			<div class="col d-flex flex-column">
				<div id="msg-area" class="flex-grow-1"></div>
				<div class="row">
					<input type="text" class="form-control col" id="msg" placeholder="Message" />
					<button class="btn btn-warning col" onclick="dbg()">Debug</button>
				</div>
			</div>
		</div>
	</body>
	<script src="ClientP4.js"></script>
</html>
